@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;;0,800;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

ul {
  list-style-type: none;
}

.navbar,
.header,
.footer {
  background-color: #1f2937;
}

.navbar {
  height: 60px;
}

.navbar .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.navbar ul {
  display: flex;
  gap: 16px;
}

.header {
  min-height: 480px;
}

.header .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}